<div class="screen-header">
  <a routerLink="/" class="back"></a>
  <div class="screen-title">{{ languageMap[settings.lang].myLists.screenTitle }}</div>
  <button class="btn-circle add-btn" (click)="openModal()"></button>
</div>

<div class="screen-content">
  <div *ngIf="!(lists$ | async)?.length" class="empty-state">
    <img class="icon" src="assets/img/dead.svg">
    <div class="message">{{ languageMap[settings.lang].myLists.emptyState }}</div>
  </div>

  <ul *ngIf="(lists$ | async)?.length" class="lists">
    <li *ngFor="let list of (lists$ | async)">
      <div class="list-tools">
        <button type="button" class="btn-circle list-edit" (click)="openModal(list.uuid)">
          <img src="assets/img/edit.svg" alt="edit icon">
        </button>
        <button type="button" class="btn-circle list-delete" (click)="deleteList(list.uuid)"></button>
      </div>
      <div class="list-wrapper" [routerLink]="'/edit-list/' + list.uuid">
        <div class="list-name">{{ list.name }}</div>
        <div class="list-info">
          <div class="list-creation-date">
            <span class="label">{{ languageMap[settings.lang].myLists.creationDate + ': ' }}</span>
            <span class="value">{{ list.creationDate | date:'longDate':'':settings['lang'] }}</span>
          </div>
          <div class="list-modification-date">
            <span class="label">{{ languageMap[settings.lang].myLists.modificationDate + ': ' }}</span>
            <span class="value">{{ list.modificationDate | date:'longDate':'':settings['lang'] }}</span>
          </div>
          <div class="list-contained-words">
            <span class="label">{{ languageMap[settings.lang].myLists.containedWords + ': ' }}</span>
            <span class="value">
              {{
                wordCounts[list.uuid]
                  ? wordCounts[list.uuid][0] + ' (' + wordCounts[list.uuid][1] + ' ' + languageMap[settings.lang].myLists.marked + ')'
                  : languageMap[settings.lang].myLists.listIsEmpty
              }}
            </span>
          </div>
          <div class="list-description">
            <span class="label">{{ languageMap[settings.lang].myLists.description + ': ' }}</span>
            <span class="value">{{ list.description }}</span>
          </div>
        </div>
      </div>
    </li>
  </ul>

</div>

<szp-add-list #addListDialog
              *ngIf="modalOpened"
              [uuid]="editingUUID"
              (close)="closeModal()"
></szp-add-list>
