:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.5rem;
  box-sizing: border-box;
  text-align: center;

  &[data-theme="tpl1"] {
    .list-info {
      .label {
        color: #f5f5f5;
      }
    }
  }

  &[data-theme="tpl2"] {
    .list-info {
      .label {
        color: #225560;
      }
    }
  }
}

.add-btn {
  position: absolute;
  right: 0.05rem;
  top: 0.05rem;
  bottom: 0.1rem;
  width: 1.1rem;
  height: 1.1rem;
  background-color: #9f7e69;

  &::before,
  &::after {
    content: '';
    width: 66%;
    height: 0.05rem;
    border-radius: 0.025rem;
    display: block;
    background: #01161e;
    box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &::after {
    transform: translate(-50%, -50%);
  }

  &:active {
    background-color: lighten(#9f7e69, 10%);
  }
}

.empty-state {
  flex: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icon {
    width: 6rem;
    height: 6rem;
  }
}

.lists {
  text-align: left;
  padding: 0 0.2rem 0.2rem;
  width: 100%;
  box-sizing: border-box;
}

li {
  margin: 0.7rem 0;
  display: flex;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.list {
  &-wrapper {
    flex: auto;
    cursor: pointer;
    border-radius: 0.15rem;
    padding: 0.1rem;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &-name {
    font-weight: bold;
  }

  &-info {
    font-size: 0.4rem;

    .label {
      font-style: italic;
      font-size: 0.3rem;
      color: #9f7e69;
    }
  }

  &-tools {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1rem;
    margin-right: 0.05rem;
    width: 1.05rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      width: 1.045rem;
      height: 1.045rem;
    }
  }

  &-edit {
    background-color: #225560;

    &:active {
      background-color: lighten(#225560, 10%);
    }
  }

  &-delete {
    background-color: #b93d3d;
    position: relative;

    &::before,
    &::after {
      content: '';
      width: 66%;
      height: 0.05rem;
      border-radius: 0.025rem;
      display: block;
      background: #f5f5f5;
      box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(135deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:active {
      background-color: lighten(#b93d3d, 10%);
    }
  }
}
