<div class="add-word-overlay" (click)="emitClose()"></div>
<div class="add-word-modal">
  <div class="modal-title">{{ editingUUID ? languageMap[lang].addWord.title.edit : languageMap[lang].addWord.title.add }}</div>
  <input #value name="value" type="text" placeholder="{{ languageMap[lang].addWord.valueTip }}">
  <input #meaning name="meaning" type="text" placeholder="{{ languageMap[lang].addWord.meaningTip }}">

  <!-- FIXME: [IMPORTANT] Notes aren't mandatory so make some visual feedbacks.. -->
  <textarea #notes name="notes" placeholder="{{ languageMap[lang].addWord.notesTip }}"></textarea>

  <!-- FIXME: [IMPORTANT] This button is freaking ugly.. -->
  <button type="button" (click)="addEdit()">
    {{ editingUUID ? languageMap[lang].addWord.addButton.edit : languageMap[lang].addWord.addButton.add }}
  </button>
</div>
