<div class="screen-header">
  <a routerLink="/" class="back"></a>
  <div class="screen-title">{{ languageMap[settings.lang].settings.screenTitle }}</div>
</div>

<div class="screen-content">
  <div class="settings-item">
    <div class="settings-item-name">
      {{ languageMap[settings.lang].settings.wordListLabel }}
    </div>
    <div class="settings-item-value" (click)="onWordListClick()">
      {{ lists?.length ? lists[activeListIndex].name : languageMap[settings.lang].myLists.emptyState }}
    </div>
  </div>

  <div class="settings-item">
    <div class="settings-item-name">
      {{ languageMap[settings.lang].settings.wordListMode.label }}
    </div>
    <div class="settings-item-value" (click)="onWordListModeClick()">
      {{ languageMap[settings.lang].settings.wordListMode.options[settings.listMode] }}
    </div>
  </div>

  <!-- TODO: Enable -->
  <div *ngIf="false" class="settings-item">
    <div class="settings-item-name">
      {{ languageMap[settings.lang].settings.difficulty.label }}
    </div>
    <div class="settings-item-value" (click)="onDifficultyClick()">
      {{ languageMap[settings.lang].settings.difficulty.options[settings.difficulty] }}
    </div>
  </div>

  <div class="settings-item">
    <div class="settings-item-name">
      {{ languageMap[settings.lang].settings.themeListLabel }}
    </div>
    <div class="settings-item-thumbnails">
      <img class="thumbnail"
           [class.active]="settings.theme === 'default'"
           src="assets/img/skin-thumbnails/default.svg"
           (click)="onThemeSelect('default')">

      <img *ngIf="false"
           class="thumbnail"
           [class.active]="settings.theme === 'tpl1'"
           src="assets/img/skin-thumbnails/tpl1.svg"
           (click)="onThemeSelect('tpl1')">

      <img *ngIf="false"
           class="thumbnail"
           [class.active]="settings.theme === 'tpl2'"
           src="assets/img/skin-thumbnails/tpl2.svg"
           (click)="onThemeSelect('tpl2')">

      <img *ngIf="false"
           class="thumbnail"
           [class.active]="settings.theme === 'tpl3'"
           src="assets/img/skin-thumbnails/tpl3.svg"
           (click)="onThemeSelect('tpl3')">

    </div>
  </div>

  <div class="settings-item">
    <div class="settings-item-name">
      {{ languageMap[settings.lang].settings.languageListLabel }}
    </div>
    <div class="settings-item-value" (click)="onLanguageChange()">
      {{ languageMap[settings.lang].displayName }}
    </div>
  </div>
</div>
