:host {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  &[data-theme="tpl1"] {
    .settings-item-name {
      color: #f5f5f5;
    }
  }

  &[data-theme="tpl2"] {
    .settings-item-name {
      color: #225560;
    }
  }
}

.settings-item {
  margin-bottom: 0.4rem;
  max-width: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;

  &:last-of-type {
    margin-bottom: 0;
  }

  &.disabled {
    display: none;
  }

  &-name {
    font-size: 0.5rem;
    font-style: italic;
    line-height: 1;
    margin-bottom: 0.15rem;
    color: #9F7E69;
  }

  &-value {
    cursor: pointer;
    display: inline-block;
    font-size: 0.7rem;
    font-weight: bold;
  }

  &-thumbnails {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
  }
}

.thumbnail {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 10%;
  box-sizing: border-box;
  box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.4);

  &:active {
    transform: scale(1.05);
  }

  &.active {
    border: 2px solid black;
  }
}
