:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.overlayed {
    filter: blur(0.3rem);
  }
}

.screen {
  &-header {
    box-shadow: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: flex-end;
    padding-right: 0.1rem;
    align-items: center;
  }

  &-content {
    justify-content: center;
  }
}

.bookmark {
  height: 0.5rem;
  width: 0.5rem;
  opacity: 0.2;

  path {
    fill: #225560;
    stroke: #225560;
  }

  &.marked {
    opacity: 1;
  }
}

.word {
  font-size: 1.5rem;
  margin: 0 0 0.2rem;
}

.tip {
  font-size: 0.4rem;
  margin: 0 0 0.5rem;
}

.answer-input {
  text-align: inherit;
  height: 1rem;
  border-radius: 0.25rem;
  border: 0.05rem solid black;
  outline: none;
  font: inherit;
  font-size: 0.7rem;
  padding: 0 0.2rem;
  width: 7.5rem;

  &::placeholder {
    font-size: 0.455rem;
  }

  &:focus {
    outline: none;
  }
}

.active-list-info {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0rem 0.3rem;
  font-size: 0.4rem;
  display: flex;
  padding-bottom: 0.01rem;

  span {
    margin: 0 0.05rem;
    flex: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &.list-name {
      overflow: hidden;
      flex: auto;
    }

    &:before {
      content: '|';
      color: black;
      position: relative;
      display: inline-block;
      top: 0.01rem;
      left: -0.05rem;
      font-size: 0.7rem;
      vertical-align: middle;
    }

    &:first-of-type {
      &:before {
        content: none;
      }
    }
  }
}
