<div class="screen-header">
  <a routerLink="/" class="back"></a>

  <svg class="bookmark"
       [class.marked]="displayedWord?.marked"
       version="1.1"
       xmlns="http://www.w3.org/2000/svg"
       width="49"
       height="72"
       viewBox="0 0 49 72">
    <defs>
      <!-- TODO: Something shit happens when I apply this filter.. -->
      <filter id="shadow" x="0" y="0" width="200%" height="200%">
        <feDropShadow dx="10" dy="10" stdDeviation="10"/>
      </filter>
    </defs>

    <path stroke-width="6"
          stroke-linecap="round"
          d="M13 3a10 10 0 0 0 -10 10L3 67 24 56 46 67 46 13a10 10 0 0 0 -10 -10z"/>
  </svg>

  <szp-counter></szp-counter>
</div>

<div class="screen-content">
  <div class="word" (click)="toggleMarkWord(displayedWord)">{{displayedWord?.value}}</div>
  <div class="tip">{{displayedWord?.notes}}</div>
  <input #answerinput
         class="answer-input"
         type="text"
         placeholder="{{ languageMap[settings.lang].wordTest.inputPlaceholder }}"
         [attr.disabled]="isInputEnabled ? null : ''"
         (input)="onAnswerInput($event)"
         (keydown)="onKeyDownHandler($event)">

  <div class="active-list-info">
    <span class="list-name">{{ currentList?.name }}</span>
    <span class="list-mode">{{ languageMap[(settings$ | async).lang].settings.wordListMode.options[(settings$ | async).listMode] }}</span>
    <!-- TODO: Display the speed mode too -->
  </div>

</div>
