:host {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  font-size: 0.6rem;
}

span {
  margin: 0 0.1rem;

  &:after {
    content: '|';
    color: black;
    position: relative;
    display: inline-block;
    top: 0.05rem;
    right: -0.10rem;

  }

  &:last-of-type {
    &:after {
      content: none;
    }
  }
}

.correct {
  color: #225560;
}
