:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.add-list {
  &-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8.5rem;
    background-color: #f5f5f5;
    border: 2px solid black;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0.2rem;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.4);

    input, textarea {
      outline: none;
      box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.4);
      border: 1px solid black;
      width: 7.5rem;
      margin: 0.15rem 0;

      &::placeholder {
        font-size: 0.455rem;
      }
    }

    input {
      height: 1rem;
      padding: 0 0.2rem;
    }

    textarea {
      height: 4.5rem;
      padding: 0.2rem;
      resize: none;
    }
  }
}
