<div class="add-list-overlay" (click)="emitClose()"></div>
<div class="add-list-modal">
  <div class="modal-title">
    {{ uuid ? languageMap[lang].addList.title.edit : languageMap[lang].addList.title.add }}
  </div>
  <input #listname name="listname" type="text" placeholder="{{ languageMap[lang].addList.nameTip }}">
  <textarea #listdescription name="listdescription" placeholder="{{ languageMap[lang].addList.descriptionTip }}"></textarea>
  <button type="button" (click)="addEdit()">
    {{ uuid ? languageMap[lang].addList.addButton.edit : languageMap[lang].addList.addButton.add }}
  </button>
</div>
