html {
  font-size: 10vmin;
}

body {
  > mimic-div {
    position: absolute;
  }

  &[data-theme="tpl1"] {
    background-color: #9f7e69;
    color: #171219;

    a {
      &:active {
        color: #f5f5f5;
      }
    }
  }

  &[data-theme="tpl2"] {
    background-color: #171219;
    color: #9f7e69;

    a {
      &:active {
        color: #225560;
      }
    }
  }

  &[data-theme="tpl3"] {
    background-color: #01161e;
    color: #f5f5f5;
  }
}

button, input, textarea {
  font: inherit;
  outline: none;
  text-align: inherit;
  box-sizing: border-box;
  box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.4);

  &:focus,
  &:active {
    outline: none;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;

  &.btn-circle {
    border-radius: 50%;
    border: none;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.05rem;
  }

  img {
    width: 60%;
    height: 60%;
  }

  &:active {
    box-shadow: 0 0 0.2rem -0.03rem rgba(0, 0, 0, 0.4);
  }
}

textarea {
  text-align: justify;
  font-size: 0.35rem;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  display: inline-block;
  transition: transform 80ms ease;
  font-weight: bold;

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(1.1);
    color: #9F7E69;
  }
}

.screen-header {
  width: 100%;
  height: 1.3rem;
  flex: none;
  display: flex;
  position: relative;
  padding: 0 1.3rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px black;

  .back {
    width: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: normal;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    &:after {
      content: '<';
    }
  }

  .screen-title {
    flex: auto;
    line-height: 1.3rem;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 0.75rem;
  }
}

.screen-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: auto;
  width: 100%;
  padding: 0.6rem 0;
  overflow: overlay;
}
