@font-face {
  font-family: 'Minya Nouvelle';
  src: local('Minya Nouvelle'),
        url('assets/fonts/minya-nouvelle.regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Minya Nouvelle';
  src: local('Minya Nouvelle'),
        url('assets/fonts/minya-nouvelle.italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Minya Nouvelle';
  src: local('Minya Nouvelle'),
        url('assets/fonts/minya-nouvelle.bold.ttf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Minya Nouvelle';
  src: local('Minya Nouvelle'),
        url('assets/fonts/minya-nouvelle.bold-italic.ttf');
  font-style: italic;
  font-weight: bold;
}
