// ::-webkit-scrollbar {
//   width: 0.05rem;
// }

// ::-webkit-scrollbar-thumb {
//   background: rgba(102, 102, 102, 0.75);
//   box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.7);
// }

// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: rgba(51, 51, 51, 0.75);
// }
