:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.5rem;
  box-sizing: border-box;
  text-align: center;

  &[data-theme="tpl1"] {
    .word {
      &-notes {
        .label {
          color: #f5f5f5;
        }
      }

      &-bookmark {
        path {
          fill: #171219;
          stroke: #171219;
        }
      }
    }
  }

  &[data-theme="tpl2"] {
    .word {
      &-notes {
        .label {
          color: #225560;
        }
      }

      &-bookmark {
        path {
          fill: #9f7e69;
          stroke: #9f7e69;
        }
      }
    }
  }
}

.add-btn {
  position: absolute;
  right: 0.05rem;
  top: 0.05rem;
  bottom: 0.1rem;
  width: 1.1rem;
  height: 1.1rem;
  background-color: #9f7e69;

  &::before,
  &::after {
    content: '';
    width: 66%;
    height: 0.05rem;
    border-radius: 0.025rem;
    display: block;
    background: #01161e;
    box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &::after {
    transform: translate(-50%, -50%);
  }

  &:active {
    background-color: lighten(#9f7e69, 10%);
  }
}

.empty-state {
  flex: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icon {
    width: 6rem;
    height: 6rem;
  }
}

.words {
  text-align: left;
  padding: 0 0.2rem 0.2rem;
  width: 100%;
  box-sizing: border-box;
}

li {
  margin: 0.7rem 0;
  display: flex;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.word {
  &-wrapper {
    flex: auto;
    border-radius: 0.15rem;
    padding: 0.1rem;
    position: relative;

    &:focus {
      outline: none;
    }

    // &:hover {
    //   background-color: rgba(0, 0, 0, 0.1);
    // }

    // &:active {
    //   background-color: rgba(0, 0, 0, 0.2);
    // }

    > div {
      margin: 0.35rem 0;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &-bookmark {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    height: 1rem;
    width: 0.8rem;
    opacity: 0.15;
    cursor: pointer;

    &.marked {
      opacity: 1;
    }

    path {
      fill: #225560;
      stroke: #225560;
    }
  }

  &-value {
    font-weight: bold;
    font-size: 0.65rem
  }

  &-meaning {
    font-size: 0.45rem;
  }

  &-notes {
    font-size: 0.35rem;
  }

  &-tools {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1rem;
    margin-right: 0.05rem;
    width: 1.05rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      width: 1.045rem;
      height: 1.045rem;
    }
  }

  &-edit {
    background-color: #225560;

    &:active {
      background-color: lighten(#225560, 10%);
    }
  }

  &-delete {
    background-color: #b93d3d;
    position: relative;

    &::before,
    &::after {
      content: '';
      width: 66%;
      height: 0.05rem;
      border-radius: 0.025rem;
      display: block;
      background: #f5f5f5;
      box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(135deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:active {
      background-color: lighten(#b93d3d, 10%);
    }
  }
}
