<div class="screen-header">
  <a routerLink="/my-lists" class="back"></a>
  <div class="screen-title">{{ activeList ? activeList.name : languageMap[settings.lang].editList.invalidListId }}</div>
  <button class="btn-circle add-btn" (click)="openModal()"></button>
</div>

<div class="screen-content">
  <div *ngIf="!wordsOnThisList?.length" class="empty-state">
    <img class="icon" src="assets/img/dead.svg">
    <div class="message">{{ languageMap[settings.lang].editList.emptyState }}</div>
  </div>

  <ul *ngIf="wordsOnThisList?.length" class="words">
    <li *ngFor="let word of wordsOnThisList">
      <div class="word-tools">
        <button type="button" class="btn-circle word-edit" (click)="openModal(word.uuid)">
          <img src="assets/img/edit.svg" alt="edit icon">
        </button>
        <button type="button" class="btn-circle word-delete" (click)="deleteWord(word.uuid)"></button>
      </div>
      <div class="word-wrapper">

        <svg (click)="toggleMarkWord(word)"
             class="word-bookmark"
             [class.marked]="word.marked"
             version="1.1"
             xmlns="http://www.w3.org/2000/svg"
             width="49"
             height="72"
             viewBox="0 0 49 72">
          <defs>
            <!-- TODO: Something shit happens when I apply this filter.. -->
            <filter id="shadow" x="0" y="0" width="200%" height="200%">
              <feDropShadow dx="10" dy="10" stdDeviation="10"/>
            </filter>
          </defs>

          <path stroke-width="6"
                stroke-linecap="round"
                d="M13 3a10 10 0 0 0 -10 10L3 67 24 56 46 67 46 13a10 10 0 0 0 -10 -10z"/>
        </svg>

        <div class="word-value">{{ word.value }}</div>
        <div class="word-meaning">{{ word.meaning }}</div>
        <div class="word-notes">
          <span class="label">{{ languageMap[settings.lang].editList.notes + ': ' }}</span>
          <span class="value">{{ word.notes ? word.notes : languageMap[settings.lang].editList.missingNotes }}</span>
        </div>
      </div>
    </li>
  </ul>

</div>

<szp-add-word #addWordDialog
              *ngIf="modalOpened"
              [listUUID]="UUIDFromURL"
              [editingUUID]="editingUUID"
              (close)="closeModal()"
></szp-add-word>
