:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.4rem;
  text-align: right;
  padding: 0.05rem 0.1rem;
  line-height: 1.3;

  span {
    font-weight: bold;
    font-size: 0.5rem;
  }
}
