<nav>
  <!-- <img src="http://via.placeholder.com/250x150?text=Logo comes here" alt="Logo"> -->
  <ul>
    <li *ngIf="isPracticeVisible">
      <a routerLink="/word-test">{{ languageMap[settings.lang].mainMenu.startPractice }}</a>
    </li>
    <li>
      <a routerLink="/my-lists">{{ languageMap[settings.lang].mainMenu.myLists }}</a>
    </li>
    <li>
      <a routerLink="/settings">{{ languageMap[settings.lang].mainMenu.settings }}</a>
    </li>
    <!-- TODO: Implement helps.. :) -->
    <li *ngIf="false">
      <a routerLink="/help">{{ languageMap[settings.lang].mainMenu.help }}</a>
    </li>
  </ul>
</nav>

<footer *ngIf="displayStorage">
  <div class="storage">
    <span class="used">{{ estimatedStorage.usage | byteformat }}</span> / <span class="quota">{{ estimatedStorage.quota | byteformat }}</span>
  </div>
</footer>
